.main-div{
    height: 100vh !important;
    width: 100%;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.req-quote-navitem a{
    border: 2px solid black;
    border-radius: 5px;
}

.banner-div .inner-content h1{
    font-size: 50px;
}

/* .banner-div{
    height: 70vh;
} */
.swiper {
    width:100%;
    /* height: 100px; */
  }

  .swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.header-main-section{
    border-bottom: 5px solid red;
}

.upper-header ul{
    padding-right: 8px;
}

.banner-div{
    width: 100%;
    height: auto;
}


.img-content{
    position: relative;
   
}

.oil-packet-main-container{
   position: relative;
   top: -230px;
   /* display: inline-block; */
   left: 25%;
   display: flex;
   align-items: end;
   
}

.oil-packet-main-container .pack-1{
    width: 70px;
   
}

.oil-packet-main-container .pack-2{
    width: 97px;
    
}

.oil-packet-main-container-bottle{
    position: relative;
   top: -265px;
   left: 25%;
   display: flex;
   align-items: end;
}

.pack-1-bottle{
    width: 50px;
}
.pack-2-bottle{
    width: 70px;
}
.pack-3-bottle{
    width: 60px;
}

.oil-packet-main-container-tin-1{
    position: relative;
    top: -187px;
    left: 25%;
    display: flex;
    align-items: end;
}
.oil-packet-main-container-tin-2{
    position: relative;
    top: -265px;
    left: 35%;
    display: flex;
    align-items: end;
}

.pack-1-tin{
    width: 77px;
}
.pack-2-tin{
    width: 86px;
}
.pack-3-tin{
    width: 62px;
}
.pack-4-tin{
    width: 43px;
}


.Product-name-title{
    font-size: 30px;
    font-weight: 450;
}

.product-description-para{
    font-weight: 350 !important;
    font-size: 18px;
}

.dulu_logo{
    position: absolute;
    bottom: -38%;
    width: 230px;
}

.second-banner-container{
    width: 100%;
    height: 50vh;
}

.second-banner-container img{
    object-fit: cover;
}

.about-container{
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(249, 249, 145, 0.703)) , url("./images/About_us_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-us-heading{
    top: -6%;
    /* background-color: rgb(241, 241, 124); */
    width: 25%;
    text-align:left;
    border-radius:50px 0 0 50px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    background-color: rgb(241, 241, 124);
}

.about-us-heading h4{
    font-size: 30px;
}