@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    overflow-x: hidden;
    font-family: "Poppins", sans-serif; 
}

.main-div{
    height: 100vh !important;
    width: 100%;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.req-quote-navitem a{
    border: 2px solid black;
    border-radius: 5px;
}

.banner-div .inner-content h1{
    font-size: 50px;
}

.header-main-section{
    background-color: #ffeb5c;
}

.header-main-section{
    border-bottom: 5px solid red;
}

.upper-header ul{
    padding-right: 8px;
}

.banner-div{
    width: 100%;
    height: auto;
}


.Product-name-title{
    font-size: 30px;
    font-weight: 450;
}

.product-description-para{
    font-weight: 350 !important;
    font-size: 18px;
}

.dulu_logo{
    position: absolute;
    bottom: -38%;
    width: 230px;
}

.second-banner-container{
    width: 100%;
    height: 50vh;
}

.second-banner-container img{
    object-fit: cover;
}

.about-container{
    width: 100%;
    height: auto;
    background-image: linear-gradient(#ffec5cb9) , url("./images/About_us_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-us-heading{
    top: -6%;
    /* background-color: rgb(241, 241, 124); */
    width: 25%;
    text-align:left;
    border-radius:50px 0 0 50px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    background-color: #ffeb5c;
}

.about-us-heading h4{
    font-size: 30px;
}


/*  */

.product-img-main-container{
    position: relative;
}

.packet-container{
    position: absolute;
    top: 32%;
    left: 32%
}

.pouch-1{
    width: 61px;
}

.pouch-2{
    width: 78px;
}

.bottle-1{
    width: 36px;
}
.bottle-2{
    width: 52px;
}
.bottle-3{
    width: 45px;
}

.bottle-container{
    position: absolute;
    top: 27%;
    left: 33%;
}


.tin-container-1{
    position: absolute;
    top: 46%;
    left: 31%;
}
.tin-container-2{
    position: absolute;
    top: 54%;
    left: 41%;
}

.tin-1{
    width: 60px;
}
.tin-2{
    width: 66px;
}
.tin-3{
    width: 48px;
}
.tin-4{
    width: 38px;
}
.tin-5{
    width: 35px;
}

.underline{
    border: 2px solid grey;
    border-radius: 50%;
    width: 60%;
}

footer{
    background-color: #d0ffab;
}